.email_container{
    border: solid 1px rgba(107, 70, 193, 0.4);
    border-radius: 16px;
    padding: 65px ;flex-direction: column;
    box-shadow: 0 0 50px 0px rgba(107 70 193/ 10%), inset 0 0 10px 0px rgba(107, 70, 193, 0.1);
}
.email_container .global-title{
    margin-bottom: 20px;
}
.email_container .big-para-text{
    width: 80%;
    margin-bottom: 35px;
}

@media screen and (max-width: 1024px) {
    .email_container{
        margin: 0 30px;
        padding: 35px;
        background:  rgba(107, 70, 193, 0.025);
    }
    .email_container .big-para-text{
       width: 100%;
    }
}
@media screen and (max-width: 500px) {
    .email_container{
        margin: 0 13px;
        padding: 10px 20px;
        background:  rgba(107, 70, 193, 0.025);
        text-align: center;
    }
    .email_container .big-para-text{
       width: 100%;
    }
    .email_container .global-title{
        margin-bottom: 15px;
        width: 80%;
    }
    .email_container .big-para-text{
        margin-bottom: 20px;
    }
}